In [1]:
a=10
b=20
print(a+b)

30

In [2]:
# variable name rulse
# /a variable name must start letters or underscore
# variable name cannaot start number.but can included underscore
# no space allowed ,connot use python keywords
# python case sensitive

In [3]:
# multiple assign 
# python allowed multiple variable to be assing a value in sigle line
a=b=c=101
print(a,b,c)

101 101 101

In [4]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [5]:
# type casting
# if want specific datatype of variable
a=int(12.0)
b=str(33)
c=float(22)
print(a,type(a))
print(b,type(b))
print(c,type(c))

12 <class 'int'>
33 <class 'str'>
22.0 <class 'float'>

In [6]:
# casting
# if want to get datatype of variable with typr function.
a='ramesh'
print(type(a))

<class 'str'>

In [8]:
# convert datatype
a=66
b=44
print(type(a),type(b))
c=float(a)
d=complex(b)
print(c,d)

<class 'int'> <class 'int'>
66.0 (44+0j)