In [1]:
# add set items
# a.add() add one item to set used add()
f={'ramesh','dinesh'}
f.add('apple')
f.add('kiwi')
f

{'apple', 'dinesh', 'kiwi', 'ramesh'}

In [2]:
# a.update(another set)--- add two sets
a={1,2,3,4,5}
b={5,6,7,8,9,0}
a.update(b)
print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
# remove items-----remove specific value
set2={0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
set2.remove(2)
set2.remove(3)
set2.discard(4)
print(set2)

{0, 1, 5, 6, 7, 8, 9}

In [ ]:
# del,a.clear