In [1]:
'''
set are used to store multiple value in single variable
set item unchanbeble,but you can you can add,remove new items

set unorder set,not allowed duplicate,set does not have a difined order
set contain any data type ---heterogeneouus

'''
s1={1,2,3,4,5}
print(type(s1),len(s1))

<class 'set'> 5

In [13]:
s2={'ramesh','dinesh','suresh'}
for i in s2:
    
    if i=='dinesh':
        break
    print(i)

suresh
ramesh

In [14]:
print('ramesh' in s2)

True