tuple are used to store multiple items in a single value.
tuple are orderd and unchangbel

tuple are created parenthesis()

tuple can store any data type it is a heterogeneous

tuple once created you cannot changeble values,tuple is immutable

In [3]:
a=(1,2,3,4,5,6,7)
print(type(a))
print(len(a))
print(a.count(1))
print(a.index(7))

<class 'tuple'>
7
1
6

In [5]:
tuple1=('ramesh','dinesh','kishore','aravind')
print(tuple1[1])
print(tuple1[2:4])

dinesh
('kishore', 'aravind')

In [10]:
# packing
number=(1,2,3,4)
(one,two,*three)=number
print(one)
print(three)

1
[3, 4]

In [11]:
# join two tuples
a=(1,2,3,4,5)
b=('one','two',"three")
print(a+b)

(1, 2, 3, 4, 5, 'one', 'two', 'three')

In [12]:
# tuple types
# count
t1=(1,2,1,1,2,3,2,4,3,2,1,4)
print(t1.count(1),t1.count(2))

4 4

In [13]:
# index
t2=(1,2,3,4,5,6,7)
print(t2.index(2))

1